 /*Add your styling here**/
*{
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
   width: ;
  /* background-color: rgb(201, 223, 162);   */
}

.nav-position {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding-left: 5%;
  padding-left: 5%;
  overflow: hidden;
  
}

.nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
  color: rgb(146, 65, 106);
}

.nav-logo {
  width: 100px;
  margin:50px 0px;
  cursor: pointer;
}

.hamburger {
  width: 30px;
  cursor: pointer;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(187, 199, 199);
  font-size: 18px;
}

a:hover {
  color:rgb(80, 18, 53);
  transition: 0.5s;
}

.txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
  position: relative;
  flex-basis: 50%;
  background-color: rgb(227, 242, 243);
  
}

.txt-mainpic {
  width: 100%;
}

.container-cupcakes imgs {
  display: inline-block;
  flex-direction: row;
  border: 1px solid rgb(43, 34, 34);
  border-radius: 8px;
  padding: 5px;
  width: 80px;
  height: 0.5em;
  align-content: center;
  display: inline; 
}
  
  /* justify-content: space-between; */
  /* width: 5vx;
  height: 30vh;
  border: chocolate; */ 
  /* margin-right: 3px; */
  /* text-align: end; */
}

/* h2 {
  flex-basis: 40%;
  position: absolute;
  margin: 20px 30px;
  border: 0;
} */

/* nav {
  background: rgb(146, 65, 106);
  height: 15vh;
  width: 100%;
  padding: 0px
  margin: 0;
  text-align: :right
  /* overflow: hidden; 
  position: relative; 
}

.nav-logo {
  width: 140px;
  height: auto;
  margin: 0 45px;
  }

.nav-ul {
  float: right;
  padding: 20px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  font-size: 1.4em;
  text-decoration: none;
 }  

nav ul li a {
  color: rgb(187, 199, 199);
  font-size: 18px;
  padding: 5px, 12px;
  margin: 0 12px;
  box-shadow: forestgreen;
  border-radius: 3px;
  display: none;
} */

/* a.active, 
a:hover {
  color:white;
  transition: 0.5s;
}

.hamburger {
  display: block;
  position: absolute;
  right: 0;
  top: 25px;

}

.hero {
  display: flex;
  /* justify-content: space-evenly; 
  flex-direction: row;
  width: 100%;
}
.heroMain {
  /* background: url("./styles/css/") no-repeat; 
  background-size: ;
  /* width: 100%;
  height: 100vh; */
  /* /* margin: 35px, 0px;  
  display: flex; */
  /* flex-direction: row; 
  justify-content: row;  
}

h1 {
  padding-top: 30px;
}

h2 {
  padding-top: 50px;
}
/* .hero-text {
  display: flex;
  justify-content: left;
  width: 75%; */
  
} 
/* .nav-position {
  display: flex;
  justify-content: space-between;
} */
/*
nav ul li {
  display: none;
  line-height: 60px;
  margin: 10px;
  font-size: 1em;
  color: rgb(238, 107, 238);
}



.
}

/* Mobile & Tablet Start*/ 

 @media (min-width: 450px)  {
  nav {
    width: 100%;
  }

  nav-logo {
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 1em;
  }
  .hamburger {
    display: none;
    color: whitesmoke
  }

  .nav-ul {
    display: none;
  }

  .navul-a {
    text-decoration: none;
    color: black;
  } 

  
 /* * @media (min-width: 900px) {
  .nav-logo {
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 1em;
  }
  .hamburger {
    display: none;    
  }

  .nav-ul {
    display: inline-block;
  }

  .navul-a {
    text-decoration: none;
    color: black;
  }

  .container-cupcakes img {
    flex-direction: column;
    align-items: center;
  }
}   */
/* Mobile & Tablet End */


Footer 
.media-contact  {
   list-style-type: none;
   margin-top:  ;
  
}

.contact-ul img {
  display: inline-block;
  align-content: center;
  flex-direction: row;
  list-style-type: none;
  /* padding-top: 40px; */
  height: 15px;
  margin: 20px;
}

.contact-ul {
  text-align: center;
}

h5 {
   text-align: center;
   padding-top: 40px;
}
.insta-size {
    height: 15px;
    margin: 20px;
}

