/*  Add your styling here */
body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
   width: ;
  background-color: rgb(192, 222, 135);
  
}

nav {
  background: rgb(107, 30, 75);
  height: 60%;
  width: 100%;
}

.nav-position {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  width: 100px;
  height: auto;
  margin: 10px 45px;
}

.nav-ul {
  float: left;
  margin-right: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  display: inline-block;
  line-height: 60px;
  margin: 10px;
  font-size: 18px;
  color: rgb(238, 107, 238);
}

nav ul li a {
  color: whitesmoke;
  font-size: 1em;
  padding: 5px, 12px;
  border-radius: 3px;
}

a.active,
a:hover {
  color: rgb(200, 255, 0);
  transition: 0.5s;
}

.hamburger {
  display: inline-block;  
}

.heroMain {
  /* background: url("./img/first-background.jpg") no-repeat; */
  background-size: cover;
  width: 100%;
  height: 120vh;
  /* margin: 5px, 0px;  */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.img-main {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid rgb(43, 34, 34);
  border-radius: 8px;
  padding: 5px;
  width: 100px;
  height: 4em;
  /* display: inline;
  align-content: center;
  /* justify-content: space-between; */
  /* width: 5vx;
  height: 30vh;
  border: chocolate; */ */
  /* margin-right: 3px; */
  /* text-align: end; */
}

/* Mobile & Tablet Start */
@media (min-width: 900px)  {
  nav-logo {
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 1em;
  }
  .hamburger {
    display: inline-block;
    color: whitesmoke
  }

  .nav-ul {
    display: none;
  }

  .navul-a {
    text-decoration: none;
    color: black;
  }

  .container-devices {
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 900px) {
  nav-logo {
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 1em;
  }
  .hamburger {
    display: inline-block;
    color: whitesmoke
  }

  .nav-ul {
    display: none;
  }

  .navul-a {
    text-decoration: none;
    color: black;
  }

  .container-cupcakes {
    flex-direction: column;
    align-items: center;
  }
/* Mobile & Tablet End */

/* Footer */
.media-contact {
   text-align: center;
  
}

.contact-list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* height: 2vh
  weight: 3vw; */
 
}
}
